#img {
    background-size: 100%;
    position: relative;
   height: 100px;
   margin-top: 20px;
}
/*horizontal line */
/* .style14{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
} */

.image-container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .image {
    opacity: 0.3;
}

.image-container:hover .middle {
    opacity: 1;
}

#rere {
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 18px 20px;
    font-size: 20px;

  }

#d {
    cursor: pointer;
    padding: 18px 20px;
    font-size: 20px;
}
