
#signUpCss{
    margin-top: 40px;
    width: 80%;
    padding-left: 150px;
    padding-right: 4px;;
    font-size:15px;
}
.form-control{
    font-size:15px !important;
}
#btn{
    width: 100%;
}


body{
    line-height: 1.1 !important;
}

/* img {
    height: 100%;
  } */
