.primaryColor{
    background: #2ec8a6;
}

.mdFont{
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Trebuchet MS', sans-serif;
   padding: 10px;
}
.NavHover{
  color: aliceblue;
}

.NavHover:hover {
  color: #ff0f;
  display: block;
  text-decoration: none;
}
.active-style{
    background: #1c947c;
    color: #ff0f;
    text-decoration: none;
}

.header {
  width: 100%;
  position: fixed;
  overflow: hidden;
}
